@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
/* ============== Loader ============ */
.loader {
    height: 100vh;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    color: #fff;
    font-family: "Kalam", cursive;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: .9s;
}
.loader-hidden {
    opacity: 0;
}
.loader h3 {
    font-size: 2vw;
}
/* --------------------------------------- */

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
}

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.page-content {
  height: 100%;
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  position: relative;
  z-index: 10;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  /* padding-bottom: 5rem; */
}

nav {
  width: 100%;
  /* background: red; */
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  font-family: sans-serif;
}

nav h3 {
  font-size: 1.2rem;
  font-weight: 100;
}

nav h4 {
  font-size: 1.2rem;
  font-weight: 100;
}

.page-content h1 {
  font-family: "Kalam", cursive;
  font-size: 15vw;
}

/* ============= Cursor ============= */
.cursor {
  height: 7vw;
  width: 7vw;
  background-color: #ab6140;
  position: fixed;
  z-index: 9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "sans-serif", cursive;
  font-weight: 100;
  transition: 0.3s;
  transform: translate(-50%, -50%);
}

/* ================== Page 2 ====================== */
.page2-content {
  width: 96%;
  margin: auto;
}

.para {
  text-align: center;
  font-family: sans-serif;
  padding-top: 10vw;
}

.para p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.para p span {
  font-size: 10px;
  background: black;
  color: white;
  padding: 2px 6px;
  border-radius: 15px;
  margin-left: 2px;
}

.para h2 {
  font-weight: 100;
  font-size: 3.4rem;
  text-decoration: underline;
  cursor: pointer;
}

.page2-boxes {
  margin-top: 10vw;
}
.brand {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 1vw;
}

.boxes {
  height: 85vh;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 32.5%;
  position: relative;
}

.box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 1s;
  border-radius: 6px;
}

.box:hover img {
  opacity: 0;
}

.box video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

/* =================== Page 3 ==================== */

.page3 {
  display: flex;
  flex-direction: column;
  padding-top: 10vw;
  width: 95%;
  margin: auto;
  z-index: 9;
}

.page3-intro {
  padding-bottom: 1vw;
  margin-bottom: 5vw;
  border-bottom: 0.5px solid grey;
}
.page3-intro p {
  font-size: 1.4rem;
  font-family: sans-serif;
}

.video {
  height: 150vh;
  position: relative;
  /* background-color: #AB6140; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.video svg {
  position: absolute;
  width: 545px;
}
.page3 video {
  width: 100%;
  height: 100%;
}

/* ================= Page 4 ======================= */
.page4 {
  margin-top: 2vw;
  padding-top: 8vw;
  height: 100vh;
  width: 100%;
}

.page4 h1 {
  font-size: 9vw;
  font-weight: 100;
  font-family: sans-serif;
  border-bottom: 0.2px solid grey;
  width: 96%;
  margin-left: 2%;
}

/* ========= Swiper ========== */

#swiper {
    height: 60vh;
    width: 100%;
    margin-top: -3%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.swiper-slide img {
  display: block;
  width: 90%;
  /* height: 100%; */
  object-fit: cover;
}


footer {
  height: 50vh;
}
